*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.mp.keep
*.out
*.pyc
*.run.xml
*.swp
*.toc
main.pdf
doc/figures/*/authors_by_month.pdf
doc/figures/*/commits_by_author.pdf
doc/figures/*/commits_by_month.pdf
doc/figures/*/commits_by_year.pdf
doc/figures/*/cycle.pdf
doc/figures/*/feature.pdf
doc/figures/*/punchcard.pdf
doc/figures/*/releases.pdf
doc/figures/*/roles.pdf
doc/figures/drupal/release_phases.pdf
doc/figures/php/release_plan.pdf
doc/figures/grounded_theory.pdf
doc/figures/mayring.pdf
doc/figures/scrum.pdf
doc/figures/spiral.pdf
doc/figures/structure.pdf
doc/figures/waterfall.pdf
doc/figures/xp.pdf
